<header>
	<div class="navigation">
		<a class= "site-title" style = "color: white; text-decoration: none;float: left;  text-align: right; padding-left: 30px; line-height: 80%; margin-top: 10px; 
 " href="/">Pastora Orozco<br><p style="font-size: 20px;font-style: extra-light; color: grey;">Art Department</p></a>
		{% include navigation.html%}
		<div class="navigation-contact">
		<a href="contact.html" style="float:right; color:white;font-size: 25px;margin-right: 50px; margin-top: -95px; text-decoration: none; font-style: light;">INFO</a>
	</div>
	</div>
</header>
