<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Artifika|Gentium+Book+Basic|Libre+Baskerville|Noticia+Text|Tenor+Sans|PT+Serif|Nunito|Cormorant+Garamond|Nanum+Myeongjo:700|Playfair+Display+SC|Assistant|Fauna+One|Dosis|IBM+Plex+Mono|M+PLUS+1p|" rel="stylesheet">
  </head>
  <body style="background-color: #89545E;">
    <div>
      {% include header-contact.html %}
          </div>
          <div style="height:1000px;">
            <div class="content-contact w3-animate-opacity">
              {{ content }}
            </div>
      </div>
    <div class="parallax"></div>
  </body>
</html>
