<!doctype html>
<html>
  <head>
  	<link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Artifika|Gentium+Book+Basic|Libre+Baskerville|Noticia+Text|Tenor+Sans|PT+Serif|Nunito|Cormorant+Garamond|Nanum+Myeongjo:700|Playfair+Display+SC|Vidaloka|Fauna+One" rel="stylesheet">
  </head>
  <body>
  	<div class="header w3-animate-opacity">
      {% include header.html %}
  	  		</div>
  	  		<div style="height:1000px;">
				{{ content }}
			</div>
    <div class="parallax"></div>
  </body>
  <footer class="w3-animate-opacity">
  	{% include footer.html %}
  </footer>
</html>
